.dropdown-menu {
  display: none;
  position: absolute;
  top: 51px;
  left: 0;
  right: 0;
  background-color: white;
}

.dropdown-menu a {
  display: block;
  width: 100%;
  background-color: transparent;
  color: #00cc99;
  text-decoration: none;
  font-size: 18px;
  padding: 16px 22px 16px 22px;
}

.dropdown-menu a:hover {
  background-color: #f6f6f6;
}
