.swiper-container {
  max-width: 1000px;
  height: 346px;
}
.bg-cover{
  background-position: center center;
  background-size: cover;
}
.swiper-title{
  font-size: 40px;
  color: #fff;
  background-color: rgba(0,0,0,0.3);
  padding: 30px 22px;
  flex-grow: 1;
  h2{
    margin-bottom: 20px;
  }
}
.swiper-slide{
  display: flex;
  align-items: center;
}